Repository stitchdata/docs, pull requests merged in 2018-08, with the labels that each got.

#115 Connect: Add more details about the ephemeral token and session token expiration
  _connect-files/api/objects/sessions/create-a-session.md
  _connect-files/api/objects/sessions/sessions-object.md
  _data/connect/api.yml
  _data/connect/general.yml
Labels: stitch-connect

#121 Add SOC q&a
  _account-security/stitch-security.md
Labels: Ready for Review

#132 DoubleClick Campaign Manager - add to Connect
  _connect-files/api/objects/form-properties/sources/doubleclick-campaign-manager-object.md
  _data/connect/api.yml
  _data/sidebars/connect.yml
Labels: stitch-connect

#60 Xero/v1
  _connect-files/api/objects/form-properties/sources/xero-object.md
  _data/connect/api.yml
  _data/sidebars/connect.yml
  _data/taps/versions/xero.yml
  _includes/integrations/templates/schemas/object-data-type.html
  _includes/integrations/templates/schemas/subarray-data-type.html
  _includes/integrations/templates/schemas/table-keys.html
  _integration-schemas/xero/accounts.md
  _integration-schemas/xero/bank_transactions.md
  _integration-schemas/xero/bank_transfers.md
  _integration-schemas/xero/branding_themes.md
  _integration-schemas/xero/contact_groups.md
  _integration-schemas/xero/contacts.md
  _integration-schemas/xero/credit_notes.md
  _integration-schemas/xero/currencies.md
  _integration-schemas/xero/employees.md
  _integration-schemas/xero/expense_claims.md
  _integration-schemas/xero/foreign-keys.md
  _integration-schemas/xero/invoices.md
  _integration-schemas/xero/items.md
  _integration-schemas/xero/journals.md
  _integration-schemas/xero/linked_transactions.md
  _integration-schemas/xero/manual_journals.md
  _integration-schemas/xero/organisations.md
  _integration-schemas/xero/overpayments.md
  _integration-schemas/xero/payments.md
  _integration-schemas/xero/prepayments.md
  _integration-schemas/xero/purchase_orders.md
  _integration-schemas/xero/receipts.md
  _integration-schemas/xero/repeating_invoices.md
  _integration-schemas/xero/shared/addresses.md
  _integration-schemas/xero/shared/allocations.md
  _integration-schemas/xero/shared/attachments.md
  _integration-schemas/xero/shared/line_items.md
  _integration-schemas/xero/shared/nested_invoice.md
  _integration-schemas/xero/shared/payment_terms.md
  _integration-schemas/xero/shared/phones.md
  _integration-schemas/xero/shared/tracking_categories.md
  _integration-schemas/xero/shared/validation_errors.md
  _integration-schemas/xero/tax_rates.md
  _integration-schemas/xero/tracking_categories.md
  _integration-schemas/xero/users.md
  _saas-integrations/xero/v19-10-2016/xero-v19-10-2016.md
  _saas-integrations/xero/xero-latest.md
  _templates/integration-table-schema.md
Labels: stitch-connect

#138 Amplitude/v1
  _connect-files/api/objects/form-properties/sources/amplitude-object.md
  _data/connect/api.yml
  _data/sidebars/connect.yml
  _includes/note.html
  _integration-schemas/amplitude/v1/events.md
  _integration-schemas/amplitude/v1/merge_ids.md
  _saas-integrations/amplitude/v1/amplitude-v1.md
  images/integrations/amplitude-project-id.png
  images/integrations/icons/amplitude.svg
Labels: stitch-connect

#144 Postgres/v1 - schema/table name setting
  _connect-content/connect-api.md
  _connect-files/api/objects/form-properties/sources/postgresql-object.md
  _data/connect/general.yml
  _data/ui/database-integration-settings/postgres.yml
  _data/urls.yaml
  _includes/connect/api-form-properties.html
  _troubleshooting/data-discrepancies/database-integration-table-name-collisions.md
Labels: integration-changelog, stitch-connect

#133 Harvest/v2
  _data/taps/versions/harvest.yml
  _integration-schemas/harvest/v1/clients.md
  _integration-schemas/harvest/v1/contacts.md
  _integration-schemas/harvest/v1/expense_categories.md
  _integration-schemas/harvest/v1/expenses.md
  _integration-schemas/harvest/v1/invoice_item_categories.md
  _integration-schemas/harvest/v1/invoice_messages.md
  _integration-schemas/harvest/v1/invoice_payments.md
  _integration-schemas/harvest/v1/invoices.md
  _integration-schemas/harvest/v1/people.md
  _integration-schemas/harvest/v1/project_tasks.md
  _integration-schemas/harvest/v1/project_users.md
  _integration-schemas/harvest/v1/projects.md
  _integration-schemas/harvest/v1/tasks.md
  _integration-schemas/harvest/v1/time_entries.md
  _integration-schemas/harvest/v2/clients.md
  _integration-schemas/harvest/v2/contacts.md
  _integration-schemas/harvest/v2/estimate_item_categories.md
  _integration-schemas/harvest/v2/estimate_line_items.md
  _integration-schemas/harvest/v2/estimate_messages.md
  _integration-schemas/harvest/v2/estimates.md
  _integration-schemas/harvest/v2/expense_categories.md
  _integration-schemas/harvest/v2/expenses.md
  _integration-schemas/harvest/v2/external_reference.md
  _integration-schemas/harvest/v2/foreign-keys.md
  _integration-schemas/harvest/v2/invoice_item_categories.md
  _integration-schemas/harvest/v2/invoice_line_items.md
  _integration-schemas/harvest/v2/invoice_messages.md
  _integration-schemas/harvest/v2/invoice_payments.md
  _integration-schemas/harvest/v2/invoices.md
  _integration-schemas/harvest/v2/project_tasks.md
  _integration-schemas/harvest/v2/project_users.md
  _integration-schemas/harvest/v2/projects.md
  _integration-schemas/harvest/v2/roles.md
  _integration-schemas/harvest/v2/tasks.md
  _integration-schemas/harvest/v2/time_entries.md
  _integration-schemas/harvest/v2/time_entry_external_reference.md
  _integration-schemas/harvest/v2/user_project_tasks.md
  _integration-schemas/harvest/v2/user_projects.md
  _integration-schemas/harvest/v2/user_roles.md
  _integration-schemas/harvest/v2/users.md
  _layouts/singer.html
  _saas-integrations/harvest/v1/harvest-v1.md
  _saas-integrations/harvest/v2/harvest-v2.md
Labels: stitch-connect
