Repository stitchdata/docs, pull requests merged in 2018-07, with the labels that each got.

#103 Connect: Correct start_date format and POST account example
  _connect-files/api/objects/accounts/create-an-account.md
  _data/connect/general.yml
Labels: stitch-connect

#99 MySQL extraction errors
  _data/errors/database-extraction/mysql.yml
  _data/taps/extraction/database-queries.yml
  _data/urls.yaml
  _database-integrations/amazon-aurora.md
  _database-integrations/google-cloudsql-mysql.md
  _database-integrations/google-cloudsql-postgresql.md
  _database-integrations/heroku.md
  _database-integrations/magento.md
  _database-integrations/mariadb.md
  _database-integrations/microsoft-sql-server-amazon-rds.md
  _database-integrations/microsoft-sql-server.md
  _database-integrations/mongodb.md
  _database-integrations/msazure.md
  _database-integrations/mysql-amazon-rds.md
  _database-integrations/mysql.md
  _database-integrations/postgres-amazon-rds.md
  _database-integrations/postgres.md
  _includes/layout/troubleshooting-articles.html
  _includes/replication/databases/extraction-queries.html
  _includes/troubleshooting/error-messages.html
  _troubleshooting/errors/database-integration-connection-errors.md
  _troubleshooting/errors/destination-connection-errors.md
  _troubleshooting/errors/mysql-extraction-errors.md
Labels: Ready for Review

#110 Connect: Remove 1 and 10 as frequency options
  _data/connect/general.yml
Labels: stitch-connect

#114 Zendesk v1: Add ticket_forms stream
  _integration-schemas/zendesk/ticket_forms.md
Labels: integration-changelog
