Repository stitchdata/docs, pull requests merged in 2019-01, with the labels that each got.

#219 Typeform/v1
  _connect-files/api/objects/form-properties/sources/saas/typeform-object.md
  _data/taps/versions/typeform.yml
  _includes/integrations/databases/setup/syncing.html
  _includes/integrations/saas/setup/saas-syncing.html
  _includes/integrations/templates/connection-instructions.html
  _integration-schemas/typeform/v1/answers.md
  _integration-schemas/typeform/v1/foreign-keys.md
  _integration-schemas/typeform/v1/landings.md
  _integration-schemas/typeform/v1/questions.md
  _saas-integrations/salesforce/salesforce-latest.md
  _saas-integrations/typeform/v1/typeform-v1.md
  images/integrations/icons/typeform.svg
Labels: stitch-connect, use_trello_notification

#226 Responsys/v1
  _connect-files/api/objects/form-properties/sources/databases/amazon-aurora-object.md
  _connect-files/api/objects/form-properties/sources/databases/amazon-s3-csv.md
  _connect-files/api/objects/form-properties/sources/databases/google-cloudsql-mysql.md
  _connect-files/api/objects/form-properties/sources/databases/google-cloudsql-postgresql.md
  _connect-files/api/objects/form-properties/sources/databases/heroku-object.md
  _connect-files/api/objects/form-properties/sources/databases/mariadb-object.md
  _connect-files/api/objects/form-properties/sources/databases/mysql-object.md
  _connect-files/api/objects/form-properties/sources/databases/oracle-object.md
  _connect-files/api/objects/form-properties/sources/databases/postgresql-object.md
  _connect-files/api/objects/form-properties/sources/databases/responsys-object.md
  _connect-files/api/objects/form-properties/sources/saas/frontapp-object.md
  _connect-files/api/objects/form-properties/sources/saas/typeform-object.md
  _data/connect/common/database-sources.yml
  _data/stitch/sdc-columns.yml
  _data/taps/extraction/replication-methods/key-based-incremental.yml
  _data/taps/versions/frontapp.yml
  _data/taps/versions/typeform.yml
  _database-integrations/amazon-s3/amazon-s3-csv-latest.md
  _database-integrations/mssql/azure/msazure.md
  _database-integrations/mssql/microsoft-sql-server.md
  _database-integrations/responsys/v1/responsys-v1.md
  _includes/connect/api-form-property-source-database-fields.html
  _includes/integrations/databases/setup/syncing.html
  _includes/integrations/saas/setup/saas-syncing.html
  _includes/integrations/shared-setup/replication-frequency.html
  _includes/integrations/templates/connection-instructions.html
  _includes/integrations/templates/schemas/table-schemas.html
  _includes/layout/expandable-heading.html
  _integration-schemas/frontapp/v1/team_table.md
  _integration-schemas/typeform/v1/answers.md
  _integration-schemas/typeform/v1/foreign-keys.md
  _integration-schemas/typeform/v1/landings.md
  _integration-schemas/typeform/v1/questions.md
  _saas-integrations/frontapp/v1/frontapp-v1.md
  _saas-integrations/salesforce/salesforce-latest.md
  _saas-integrations/typeform/v1/typeform-v1.md
  images/integrations/frontapp-create-api-token.png
  images/integrations/icons/frontapp.svg
  images/integrations/icons/responsys.svg
  images/integrations/icons/typeform.svg
  images/integrations/responsys-data-export-file-settings.png
  images/integrations/responsys-oracle-hosted-example.png
  images/integrations/responsys-public-key.png
  images/integrations/responsys-self-hosted-example.png
Labels: docs-about-docs, stitch-connect

#244 Connect: Fix broken StitchJS example tabs
  _includes/connect/request-response-example-tabs.html
Labels: stitch-connect

#229 Toggl/v1
  _connect-files/api/objects/form-properties/sources/saas/toggl-object.md
  _data/taps/versions/toggl.yml
  _integration-schemas/toggl/v1/a_workspaces.md
  _integration-schemas/toggl/v1/clients.md
  _integration-schemas/toggl/v1/foreign-keys.md
  _integration-schemas/toggl/v1/groups.md
  _integration-schemas/toggl/v1/projects.md
  _integration-schemas/toggl/v1/tags.md
  _integration-schemas/toggl/v1/tasks.md
  _integration-schemas/toggl/v1/time_entries.md
  _integration-schemas/toggl/v1/users.md
  _integration-schemas/toggl/v1/workspace_users.md
  _saas-integrations/toggl/v1/toggl-v1.md
  images/integrations/icons/toggl.svg
  images/integrations/toggl-profile-settings-api-token.png
Labels: stitch-connect, use_trello_notification

#246 Connect: Add guides section
  _connect-content/connect-api.md
  _connect-content/connect-guides.md
  _connect-content/connect-js.md
  _connect-content/connect-overview.md
  _connect-content/guides/api/field-selection-compatibility-rules.md
  _connect-content/guides/api/select-tables-and-fields.md
  _connect-files/api/documentation/api-authentication.md
  _connect-files/api/documentation/api-introduction.md
  _connect-files/api/documentation/api-quick-start.md
  _connect-files/guides/connect-guides-all-tiles.md
  _connect-files/guides/connect-guides-feedback.md
  _connect-files/overview/connect-introduction.md
  _connect-files/overview/connect-learning.md
  _connect-files/overview/connect-obtain-access.md
  _data/connect/api.yml
  _data/sidebars/connect.yml
  _includes/connect/overview-toolkit-tiles.html
  _layouts/connect.html
  images/connect/connect-js.svg
  images/icons/clock.svg
  images/icons/destination.svg
  images/icons/file.svg
  images/icons/source.svg
  images/icons/table-selection.svg
  sass/_components.scss
  stylesheets/screen.css
Labels: stitch-connect

#247 Fixes to the Choosing a Destination Guide
  _data/destinations/reference/amazon-s3.yml
  _data/destinations/reference/bigquery.yml
  _data/destinations/reference/defaults.yml
  _data/destinations/reference/microsoft-azure.yml
  _data/destinations/reference/panoply.yml
  _data/destinations/reference/postgres.yml
  _data/destinations/reference/redshift.yml
  _data/destinations/reference/snowflake.yml
  _destinations/choosing-a-stitch-destination.md
  _includes/destinations/destination-rollup.html
Labels: docs-about-docs
